@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap'); 
  body {  
    font:inherit;
    line-height:1.5;
    font-family:Inter,Helvetica,Arial,system-ui,-apple-system;
    font-size:16px;
    background-color:var(--profileBackground);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-scale-x:  107.5%;  
    --tw-scale-y:  107.5%; 
    --button-style-inner-radius:  32px;  
    --button-style-radius:  32px;  
    --tw-translate-y:  -50%; 
} 

* { 
    box-sizing: border-box; 
    border: 0 solid;
} 

* { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
} 

* { 
    box-sizing: inherit;
} 

div { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

.flex { 
    display: flex;
} 

.flex-col { 
    flex-direction: column;
} 

.relative { 
    position: relative;
} 

.grid { 
    display: grid;
} 

.w-full { 
    width: 100%;
} 

@media (min-width: 576px){ 
  .sm\:min-h-\[calc\(100lvh-2\.5rem\)\] { 
    min-height: calc(100lvh - 2.5rem);
  } 
}     

.h-full { 
    height: 100%;
} 

.flex-1 { 
    flex: 1 1 0%;
} 

@media (min-width: 576px){ 
  .sm\:pt-10 { 
    padding-top: 2.5rem;
  } 
}     

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    scrollbar-width: auto;
} 

body { 
    scrollbar-color: auto;
} 

body { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

body { 
    line-height: 1;
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    tab-size: 4; 
    font-family: Inter,Helvetica,Arial,system-ui,-apple-system; 
    font-feature-settings: normal; 
    font-variation-settings: normal; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    scrollbar-color: color-mix(in srgb,var(--background-contrast-color,#000) 50%,transparent) color-mix(in srgb,var(--profileBackground,#fff) 80%,#000);
} 

html { 
    scrollbar-width: auto;
} 

html { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

html { 
    font-size: 16px; 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
} 

html { 
    font-family: Archivo Black, sans-serif;
} 

html { 
    --button-style-text: #ffffff; 
    --button-style-background: transparent; 
    --button-style-background-hover: color-mix(in srgb, var(--button-style-background) 93%, var(--background-contrast-color) 7%); 
    --button-style-border: 1px solid var(--button-style-border-color); 
    --button-style-border-color: #ffffff; 
    --button-style-shadow: none; 
    --button-style-radius: 28px; 
    --button-style-inner-radius: min(var(--button-style-radius), max(4px, calc(var(--button-style-radius) - 8px))); 
    --desktop-frame-color: color-mix(in srgb, #000000 88%, white 12%); 
    --profile-container-desktop-width: 580px; 
    --link-gap: 14px; 
    --link-inner-padding: calc(var(--link-gap) / 2); 
    --linkRadius: var(--button-style-radius); 
    --background-contrast-color: #ffffff; 
    --linkBackground: var(--button-style-background); 
    --linkText: var(--button-style-text); 
    --linkHoverBackground: var(--button-style-background-hover); 
    --linkHoverText: var(--button-style-text); 
    --profileBackground: #0B1925; 
    --profileTitleText: #fff; 
    background-color: var(--profileBackground);
} 

@media screen and (min-width: 576px){ 
  html { 
    --profileBackground: var(--desktop-frame-color); 
  } 
}     

.z-\[1\] { 
    z-index: 1;
} 

.px-\[var\(--link-gap\)\] { 
    padding-left: var(--link-gap); 
    padding-right: var(--link-gap);
} 

@media (min-width: 576px){ 
  .sm\:px-\[calc\(var\(--link-gap\)\*2\)\] { 
    padding-left: calc(var(--link-gap) * 2); 
    padding-right: calc(var(--link-gap) * 2);
  } 
}     

*,:after,:before { 
    box-sizing: border-box; 
    border: 0 solid;
} 

*,:after,:before { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
} 

*,:before,:after { 
    box-sizing: inherit;
} 

:backdrop { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
} 

.mt-2 { 
    margin-top: .5rem;
} 

.mt-xl { 
    margin-top: 2rem;
} 

.flex-wrap { 
    flex-wrap: wrap;
} 

.items-center { 
    align-items: center;
} 

.justify-center { 
    justify-content: center;
} 

.gap-\[var\(--link-gap\)\] { 
    gap: var(--link-gap);
} 

.\@container\/links-container { 
    container-type: inline-size; 
    container-name: links-container;
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

a { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

.z-0 { 
    z-index: 0;
} 

.overflow-hidden { 
    overflow: hidden;
} 

.p-2 { 
    padding: .5rem;
} 

.transition-transform { 
    transition-property: transform; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.hover\:scale-\[107\.5\%\]:hover { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

.hover\:scale-\[107\.5\%\]:hover { 
    --tw-scale-x: 107.5%; 
    --tw-scale-y: 107.5%;
} 

#profile-footer:before,#profile-header:before,:is([data-testid="Link"], [data-testid="LinkCollectionCarousel"], [data-testid="LinkGrid"]):before { 
    content: ""; 
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,.8); 
    pointer-events: none; 
    transition: opacity 2.2s ease-in-out .6s; 
    opacity: 0;
} 

svg { 
    display: block; 
    vertical-align: middle;
} 

.text-profileTitleText { 
    color: var(--profileTitleText);
} 

span { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

.sr-only { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip: rect(0,0,0,0); 
    white-space: nowrap; 
    border-width: 0;
} 

.LinkContainer_LinkContainer__zyrUB { 
    position: relative; 
    height: 100%; 
    overflow: hidden; 
    background: var(--button-style-background); 
    border: var(--button-style-border); 
    color: var(--button-style-text); 
    border-radius: var(--button-style-radius); 
    box-shadow: var(--button-style-shadow); 
    container-type: inline-size; 
    transition: transform 75ms ease,box-shadow 75ms ease,background-color 75ms ease,-webkit-backdrop-filter 75ms ease; 
    transition: transform 75ms ease,box-shadow 75ms ease,background-color 75ms ease,backdrop-filter 75ms ease; 
    transition: transform 75ms ease,box-shadow 75ms ease,background-color 75ms ease,backdrop-filter 75ms ease,-webkit-backdrop-filter 75ms ease;
} 

[data-layout="stack"][data-is-featured="false"][data-corner-style="ROUNDED_FULL"] .LinkContainer_LinkContainer__zyrUB  { 
    --button-style-inner-radius: 32px; 
    --button-style-radius: 32px; 
    border-radius: var(--button-style-inner-radius);
} 

@media (pointer: fine){ 
  .LinkContainer_LinkContainer__zyrUB:hover { 
    background: var(--button-style-background-hover);
  } 
}     

.invisible { 
    visibility: hidden;
} 

.absolute { 
    position: absolute;
} 

.top-\[calc\(var\(--link-gap\)\*-1\)\] { 
    top: calc(var(--link-gap) * -1);
} 

.block { 
    display: block;
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: initial; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

button { 
    font-variation-settings: inherit; 
    font-variant-ligatures: inherit;
} 

.grid-cols-1 { 
    grid-template-columns: repeat(1,minmax(0,1fr));
} 

.grid-rows-\[min-content_1fr\] { 
    grid-template-rows: min-content 1fr;
} 

.right-3 { 
    right: .75rem;
} 

.top-1\/2 { 
    top: 50%;
} 

.h-6 { 
    height: 1.5rem;
} 

.w-6 { 
    width: 1.5rem;
} 

.-translate-y-1\/2 { 
    --tw-translate-y: -50%;
} 

.-translate-y-1\/2 { 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

.rounded-xl { 
    border-radius: 4rem;
} 

.text-\[var\(--button-style-text\)\] { 
    color: var(--button-style-text);
} 

.opacity-50 { 
    opacity: .5;
} 

.hover\:bg-black\/10:hover { 
    background-color: rgba(0,0,0,.1);
} 

.hover\:opacity-100:hover { 
    opacity: 1;
} 

.min-h-16 { 
    min-height: 4rem;
} 

.gap-\[1px\] { 
    gap: 1px;
} 

.px-16 { 
    padding-left: 4rem; 
    padding-right: 4rem;
} 

.py-2 { 
    padding-top: .5rem; 
    padding-bottom: .5rem;
} 

.tracking-\[-0\.2px\] { 
    letter-spacing: -.2px;
} 

.bottom-2 { 
    bottom: .5rem;
} 

.left-2 { 
    left: .5rem;
} 

.top-2 { 
    top: .5rem;
} 

.h-12 { 
    height: 3rem;
} 

.w-12 { 
    width: 3rem;
} 

.rounded-\[var\(--button-style-inner-radius\)\] { 
    border-radius: var(--button-style-inner-radius);
} 

.line-clamp-2 { 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
} 

.line-clamp-2 { 
    -webkit-line-clamp: 2;
} 

.overflow-ellipsis { 
    text-overflow: ellipsis;
} 

.text-balance { 
    text-wrap: balance;
} 

.text-center { 
    text-align: center;
} 

.text-\[14px\] { 
    font-size: 14px;
} 

.font-medium { 
    font-weight: 500;
} 

.leading-\[1\.2\] { 
    line-height: 1.2;
} 

@media (min-width: 576px){ 
  .sm\:text-\[16px\] { 
    font-size: 16px;
  } 
}     

.line-clamp-1 { 
    -webkit-line-clamp: 1;
} 

.line-clamp-1 { 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
} 

.justify-start { 
    justify-content: flex-start;
} 

.gap-1 { 
    gap: .25rem;
} 

.px-sm { 
    padding-left: .75rem; 
    padding-right: .75rem;
} 

.text-xs { 
    font-size: 12px; 
    line-height: 1.5;
} 

.opacity-60 { 
    opacity: .6;
} 

img { 
    display: block; 
    vertical-align: middle;
} 

img { 
    max-width: 100%; 
    height: auto;
} 

img { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font: inherit; 
    vertical-align: baseline;
} 

.object-cover { 
    object-fit: cover;
} 

.shrink-0 { 
    flex-shrink: 0;
} 

.min-w-0 { 
    min-width: 0;
} 

.text-left { 
    text-align: left;
} 

.-ml-1 { 
    margin-left: -.25rem;
} 

.h-\[18px\] { 
    height: 18px;
} 

.w-\[18px\] { 
    width: 18px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-WfoHI.style-WfoHI {  
   opacity: 1;  
}  
#style-oml6I.style-oml6I {  
   opacity: 1;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-7PI5o.style-7PI5o {  
   opacity: 1;  
}  
#style-OsQSm.style-OsQSm {  
   opacity: 1;  
}  
